* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Parkinsans", sans-serif;
}
.container {
  max-width: 1366px;
  width: 95%;
  margin-inline: auto;
}
:root {
  --primary-colour: #0047ff;
  --secoundary-colour: hsl(212, 100%, 95%);
  --light: #fff;
}
.btn {
  padding: 10px 10px;
  font-weight: 300;
  border: 0px;
  border-radius: 10px;
  background-color: var(--light);
}
.btn-light {
  box-shadow: 0 2px 2px 0 rgb(32, 25, 25);
  font-size: 25px;
}
.btn-light:hover {
  background-color: var(--primary-colour);
  transition-duration: 2s;
  pointer-events: inherit;
}
